*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color:#fff;
}

html{
    font-family: 'Open Sans', sans-serif;
}
         /* *Navbar Section */
#navbar{
    color:#fff;
    display:flex;
    justify-content:space-between;
    align-items: center;
    padding:0 0.75rem;
    height:70px;
}
#navbar ul{
    list-style-type: none;
    display:flex;
    align-items:center;
}
#navbar ul li a{
    padding:1rem;
}
#navbar ul li a:hover{
    background:#336ea2;
    border-radius: 1rem;
}

             /* *Home Section */

#home{
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:center;
    padding:2rem;
    border-bottom: 1px solid grey;
}

#home img{
    max-width:100%;
    height:auto;
    border-radius: 100%;
}

#home .name h2{
    margin-bottom: 0.75rem;
   
}
#home .name p{
    opacity: 0.6;
    font-style: italic;
}

             /* *   skills */
#all-skills{
    color:#fff;
    padding:1rem;
}
#all-skills .skills{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin:0 1.5em;
}
#all-skills .skills .skill{
    width: 33%;
    text-align: center;
    padding:0.5rem;
}
#all-skills .skills .skill:hover{
    color:#336ea2;
    opacity:0.8;
}



            /*    *Profile and URL's */

#profile{
    color:#fff;
    padding:1rem;
}
#profile .links{
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top:1.5rem;
    padding:0.5rem;
    margin:0 2em;
    
}
#profile a:hover{
color:#336ea2;
opacity: 0.8;
}
