#navbar{
    flex-direction: column;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    overflow:hidden;
    height:80px;
}

#navbar ul li a{
    padding:0.33rem;
}

#training .items{
    flex-direction: column;

}

#training .items .item{
    width: 100%;
}

#profile h3{
    flex-direction: column;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;

}